<html lang="en">
{{>partials/navbar}}
<body class="container">
<head>
   {{>partials/header}}
</head>

<form method="post" role="form">
   <div class="form-group">
      <label for="goal">Goal</label>
      <input type="text" class="form-control" id="goal" name="goal" value="{{goal}}">
   </div>

   <div class="form-group">
      <label for="goal">Expected Reps</label>
      <input type="number" class="form-control" id="exReps" name="exReps" value="{{exReps}}" min="0" max="100" required>
   </div>

   <div class="form-group">
      <label for="goal">Expected Time (Minutes)</label>
      <input type="number" class="form-control" id="exTime" name="exTime" value="{{exTime}}" min="0" max="280" required>
   </div>

   <div class="form-group">
      <input type="submit" value="Update Goal" class="btn btn-primary">
   </div>

   <a href="/mygoals/{{currentWeek}}" class="btn btn-primary">
      cancel
   </a>

</body>


{{>partials/footer}}