<html lang="en">
{{>partials/navbar}}
<body class="container">
<head>
   {{>partials/header}}
</head>

<body class="container">

    <div class="container flex-fill">
      <div class="d-flex justify-content-center">
          <h1>Week {{currentWeek}}</h1>
      </div>
      <div class="d-flex justify-content-center">
          <h2>{{fromDate}} - {{toDate}}</h2>
      </div>
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item active" aria-current="page">
            <a class="text">This Week</a>
        </li>
      </ul>
    </div>

    <div class="card">
    <h2>Upcoming Goals</h2>
        {{#upcomingGoals}}
            <div class="card-header">
               Goal: {{goal}}
            </div>
            <div class="card-body">
                <div class="card-text">
                  Expected No of Reps: {{exReps}}
                </div>
                <div class="card-text">
                  Expected Time(Minutes): {{exTime}}
                </div>    
                 <div class="card-text">
                  User: {{user.user}}
                </div>  
            </div>
        <hr>
        {{/upcomingGoals}}
        {{^upcomingGoals}}
        </br>
            No Upcoming Goals Yet
        {{/upcomingGoals}} 
    </div>

    <div class="card">
    <h2>Completed Goals</h2>
        {{#completedGoals}}
            <div class="card-header">
                Goal: {{goal}}
            </div>
             <div class="card-body">
                <div class="card-text">
                  No of Reps: {{reps}} - Expected No of Reps: {{exReps}}
                </div>
                <div class="card-text">
                  Time (Minutes): {{time}} -  Expected Time (Minutes): {{exTime}}
                </div>
                 <div class="card-text">
                  User: {{user.user}}
                </div>  
            </div>
        <hr>
        {{/completedGoals}}
        {{^completedGoals}}
        </br>
            no competed Goals yet
        {{/completedGoals}} 
    </div>

</body>

{{>partials/footer}}

</html>