<html lang="en">
{{>partials/navbar}}
<head>
   {{>partials/header}}
</head>

<body class="container">

    <div class="text-left">
        <a href="/addgoal" class="btn btn-primary">
        Add New Goal
        </a>
    </div>

    <div class="card">
    <h2>Upcoming Goals</h2>
        {{#upcomingGoals}}
            <div class="card-header">
               Goal: {{goal}}
            </div>
            <div class="card-body">
                <div class="card-text">
                  Expected No of Reps: {{exReps}}
                </div>
                <div class="card-text">
                  Expected Time(Minutes): {{exTime}}
                </div>
                 <div class="card-text">
                  Goal Date: {{goalDate}}
                </div>
                 <a href="/editgoal/{{_id}}" class="btn btn-primary">
                     Edit Goal
                  </a>
                  <a href="/completegoal/{{_id}}" class="btn btn-primary">
                     Complete Goal
                  </a>
                  <a href="/deletegoal/{{_id}}/" class="btn btn-primary">
                     Delete Goal
                  </a>
            </div>
        <hr>
        {{/upcomingGoals}}
        {{^upcomingGoals}}
        </br>
            No Upcoming Goals Yet
        {{/upcomingGoals}} 
    </div>



    <div class="card">
    <h2>Completed Goals</h2>
        {{#completedGoals}}
            <div class="card-header">
                Goal: {{goal}}
            </div>
             <div class="card-body">
                <div class="card-text">
                  No of Reps: {{reps}}
                </div>
                <div class="card-text">
                  Time (Minutes): {{time}}
                </div>
                  <div class="card-text">
                  Goal Date: {{goalDate}}
                </div>
                 <a href="/editgoal/{{_id}}" class="btn btn-primary">
                     Edit Goal
                  </a>
                  <a href="/deletegoal/{{_id}}/" class="btn btn-primary">
                     Delete Goal
                  </a>
            </div>
        <hr>
        {{/completedGoals}}
        {{^completedGoals}}
        </br>
            no competed Goals yet
        {{/completedGoals}} 
    </div>

</body>

{{>partials/footer}}

</html>