<html lang="en">
{{>partials/navbar}}
<head>
   {{>partials/header}}
</head>

<body class="container">

    <div class="container flex-fill">
      <div class="d-flex justify-content-center">
          <h1>Week {{currentWeek}}</h1>
      </div>
      <div class="d-flex justify-content-center">
          <h2>{{fromDate}} - {{toDate}}</h2>
      </div>
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/mygoals/{{previousWeek}}" tabindex="-1" aria-disabled="true"><i
                    class="bi bi-arrow-left"></i> {{previousWeek}}</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="/mygoals/{{previousWeek}}">This Week</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/mygoals/{{nextWeek}}">{{nextWeek}} <i class="bi bi-arrow-right"></i></a>
        </li>
      </ul>
    </div>

    <div class="text-left">
        <a href="/addgoal/{{currentWeek}}" class="btn btn-primary">
        Add New Goal
        </a>
    </div>

    <div class="card">
    <h2>Upcoming Goals</h2>
        {{#upcomingGoals}}
            <div class="card-header">
               Goal: {{goal}}
            </div>
            <div class="card-body">
                <div class="card-text">
                  Expected No of Reps: {{exReps}}
                </div>
                <div class="card-text">
                  Expected Time(Minutes): {{exTime}}
                </div>
                 <div class="card-text">
                  Goal Day: {{goalDay}}
                </div>
                 <a href="/editgoal/{{_id}}/{{currentWeek}}" class="btn btn-primary">
                     Edit Goal
                  </a>
                  <a href="/completegoal/{{_id}}/{{currentWeek}}" class="btn btn-primary">
                     Complete Goal
                  </a>
                  <a href="/deletegoal/{{_id}}/{{currentWeek}}" class="btn btn-primary">
                     Delete Goal
                  </a>
            </div>
        <hr>
        {{/upcomingGoals}}
        {{^upcomingGoals}}
        </br>
            No Upcoming Goals Yet
        {{/upcomingGoals}} 
    </div>



    <div class="card">
    <h2>Completed Goals</h2>
        {{#completedGoals}}
            <div class="card-header">
                Goal: {{goal}}
            </div>
             <div class="card-body">
                <div class="card-text">
                  No of Reps: {{reps}} - Expected No of Reps: {{exReps}}
                </div>
                <div class="card-text">
                  Time (Minutes): {{time}} -  Expected Time (Minutes): {{exTime}}
                </div>
                  <div class="card-text">
                  Goal Date: {{goalDate}}
                </div>
                <a href="/deletegoal/{{_id}}/" class="btn btn-primary">
                  Delete Goal
                </a>
            </div>
        <hr>
        {{/completedGoals}}
        {{^completedGoals}}
        </br>
            no competed Goals yet
        {{/completedGoals}} 
    </div>

</body>

{{>partials/footer}}

</html>