<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
        <a class="text-decoration-none navbar-text"href="/">Home</a></span>
        <a class="text-decoration-none navbar-text"href="/mygoals/{{currentWeek}}">My Goals</a></span>

        {{^user}}
            <a class="text-decoration-none navbar-text"href="/login">Login</a></span>
            <a class="text-decoration-none navbar-text"href="/register">Register</a></span>   
        {{/user}}
        {{#user}}
            <a class="text-decoration-none navbar-text"href="/logout">Sign out</a></span>
        {{/user}}

    </div>
</nav>